<section id="research">

  <div class="paper-list">

    <div class="paper">
      <span class="title">Federated Learning-Based Sustainable Electric Vehicle Routing to Alleviate Urban Grid Pressure</span>
      <span class="journal">Submitted to IEEE Transactions on Industrial Cyber-Physical Systems</span>
      <span class="date">2025-05-30</span>

      <br>

      <object data="../../assets/pdfs/Federated%20Learning-Based%20Sustainable%20Electric%20Vehicle%20Routing%20to%20Alleviate%20Urban%20Grid%20Pressure.pdf" type="application/pdf">
        <a href="../../assets/pdfs/Federated%20Learning-Based%20Sustainable%20Electric%20Vehicle%20Routing%20to%20Alleviate%20Urban%20Grid%20Pressure.pdf" download>Download PDF</a>
      </object>

    </div>

    <hr>

    <div class="paper">
      <span class="title">Robust Smartphone Screen Integration with Deep Learning for Virtual Reality Pass-through</span>
      <span class="journal">Accepted at COMPSAC</span>
      <span class="date">2025-04-17</span>

      <br>

      <object data="../../assets/pdfs/Robust%20Smartphone%20Screen%20Integration%20with%20Deep%20Learning%20for%20Virtual%20Reality%20Pass-through.pdf" type="application/pdf">
        <a href="../../assets/pdfs/Robust%20Smartphone%20Screen%20Integration%20with%20Deep%20Learning%20for%20Virtual%20Reality%20Pass-through.pdf" download>Download PDF</a>
      </object>

    </div>

    <hr>

    <div class="paper">
      <span class="title">Approaches to Responsible Governance of GenAI in Organizations</span>
      <span class="date">2025-04-25</span>
      <a href="https://doi.org/10.1109/ICMLA58977.2023.00086">Link to Preprint</a>

      <br>

      <object data="../../assets/pdfs/Approaches%20to%20Responsible%20Governance%20of%20GenAI%20in.pdf" type="application/pdf">
        <a href="../../assets/pdfs/Approaches%20to%20Responsible%20Governance%20of%20GenAI%20in.pdf" download>Download PDF</a>
      </object>

    </div>

    <hr>

    <div class="paper">
      <span class="title">Multi-Factor Edge-Weighting with Reinforcement Learning for Load Balancing of Electric Vehicle Charging Stations</span>
      <span class="journal">Published at ICMLA</span>
      <span class="date">2024-03-19</span>
      <a href="https://doi.org/10.1109/ICMLA58977.2023.00086">Link to Publication</a>
      <br>

      <object data="../../assets/pdfs/Multi-Factor%20Edge-Weighting%20with%20Reinforcement%20Learning%20for%20Load%20Balancing%20of%20Electric%20Vehicle%20Charging%20Stations.pdf" type="application/pdf">
        <a href="../../assets/pdfs/Multi-Factor%20Edge-Weighting%20with%20Reinforcement%20Learning%20for%20Load%20Balancing%20of%20Electric%20Vehicle%20Charging%20Stations.pdf" download>Download PDF</a>
      </object>

      <div class="presentation">
        <span class="title">Presentation:</span>
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/wetqcYbPoSU?si=yXkIeEMMZyrYJD4q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

    </div>
  </div>

</section>
