<section id="research">

  <div class="paper-list">
    <div class="paper">
      <span class="title">Multi-Factor Edge-Weighting with Reinforcement Learning for Load Balancing of Electric Vehicle Charging Stations</span>
      <span class="journal">Published at ICMLA Conference</span>
      <span class="date">2024-03-19</span>
      <a href="https://doi.org/10.1109/ICMLA58977.2023.00086">Link to Publication</a>
      <br>

      <object data="../../assets/pdfs/Multi-Factor%20Edge-Weighting%20with%20Reinforcement%20Learning%20for%20Load%20Balancing%20of%20Electric%20Vehicle%20Charging%20Stations.pdf" type="application/pdf">
        <a href="../../assets/pdfs/Multi-Factor%20Edge-Weighting%20with%20Reinforcement%20Learning%20for%20Load%20Balancing%20of%20Electric%20Vehicle%20Charging%20Stations.pdf" download>Download PDF</a>
      </object>

      <div class="presentation">
        <span class="title">Presentation:</span>
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/wetqcYbPoSU?si=yXkIeEMMZyrYJD4q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

    </div>
  </div>

</section>
