#projects {
  text-align: center;
}

.list {
  padding: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;

  .video {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 75%;
    height: auto;
    aspect-ratio: 16 / 9;

    @media (max-width: 768px) {
      width: 100% !important;
    }
  }

  .page-body {
    padding: 0 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .intput-output {
        @media (max-width: 768px) {
          width: 90% !important;
        }
        width: 50%;
        border-radius: 12px;
        padding: 12px;
        background: transparent;
        outline: none;
        border: 1px solid var(--secondary);


        input[type=text] {
          width: 100%;
          background: var(--background);
          resize: none;
          border: none;
          outline: none;
          font-size: 0.8rem;
        }

        #response {
          display: flex;
          justify-content: center;
          overflow: hidden;
          transition: 1s ease;
          font-size: 0.8rem;

          &.hidden {
            height: 0;
          }
          &.loading {
            border-top: 1px solid var(--secondary);
            height: 24px;
            padding-top: 8px;
            margin-top: 8px;

            .dot-one {
              animation: dot-one 2s infinite linear
            }
            .dot-two {
              animation: dot-two 2s infinite linear
            }
            .dot-three {
              animation: dot-three 2s infinite linear
            }
          }
          &.loaded {
            .loading-message {
              display: none;
            }
            text-align: left;
            display: block !important;
            border-top: 1px solid var(--secondary);
            height: 24px;
            margin-top: 8px;
            padding-top: 8px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
          }

        }
      }

      @keyframes dot-one{
        0%{
          opacity: 0;
        }
        15%{
          opacity: 0;
        }
        25%{
          opacity: 1;
        }
        100%{
          opacity: 1;
        }
      }

      @keyframes dot-two{
        0%{
          opacity: 0;
        }
        25%{
          opacity: 0;
        }
        50%{
          opacity: 1;
        }
        100%{
          opacity: 1;
        }
      }

      @keyframes dot-three{
        0%{
          opacity: 0;
        }
        50%{
          opacity: 0;
        }
        75%{
          opacity: 1;
        }
        100%{
          opacity: 1;
        }
      }

      input[type=submit] {
        margin-top: -8px;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
      }
    }

    &.visible {
      margin-bottom: 12px;

      .event::ng-deep {
        opacity: 1;
      }
    }
  }

  .project {
    padding: 8px;
  }

  .page-title {
    z-index: 99;
    font-size: 1.5rem;
    background-color: var(--primary);
    list-style: none;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.6s;
    position: sticky;
    top: 64px;
    border-radius: 12px;
  }

  .active {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 24px auto;
  }
}

.description {
  font-size: 1.2rem;
}

.timeline::ng-deep {
  flex-direction: column;
  position: relative;
  max-width: 900px;
  margin: 20px auto;

  &::before::ng-deep {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    @media (min-width: 769px) {
      background: var(--secondary);
    }
  }

  .bottom {
    @media (max-width: 768px) {
      margin-bottom: 10% !important;
    }
    margin-bottom: -10%;
  }

  .event::ng-deep {
    @media (max-width: 768px) {
      justify-content: center !important;

      .circle {
        display: none !important;
      }
    }


    display: flex;
    justify-content: space-between;
    opacity: 0; /* Hide events initially */
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;

    .circle {
      width: 20px;
      height: 20px;
      background: grey;
      border-radius: 50%;
      visibility: hidden;
    }

    .content {
      @media (max-width: 768px) {
        width: 100% !important;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;

      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      p {
        width: auto;
        max-width: 100%;
      }
    }

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
