<section id="projects">
  <h2>Here's a brief overview of my projects...</h2>

  <div class="list">

    <div *ngFor="let project of projectInfo" class="project border-bottom">
      <button class="accordion page-title" (click)="openPanel($event)" [innerText]="project.project"></button>
      <div class="panel page-body">

        <span class="description" [innerHTML]="project.description"></span>

        <div *ngIf="project.project == 'Bible AI'">
          <form (submit)="generateText($event, startingText, response, submit)">

            <div class="intput-output">
              <input type="text" #startingText placeholder="Starting text...">
              <span class='hidden' id="response" #response>
                <span class="loading-message">This usually takes about a minute</span>
                <span class="dot-one"> .</span>
                <span class="dot-two"> .</span>
                <span class="dot-three"> .</span>
              </span>
            </div>

            <input type="submit" #submit>
          </form>

        </div>

        <div class="timeline">
          <div *ngFor="let event of getEvents(project.project); let i = index" [classList]="i < getEvents(project.project).length - 1 ? 'bottom event' : 'event'">
            <div class="circle" *ngIf="i % 2 == 0"></div>
            <div class="content">
              <img *ngIf="event.image" [src]="'./assets/images/project_images/' + project.project + '/' + event.image" [alt]="event.title">
              <p [innerText]="event.body"></p>
            </div>
            <div class="circle" *ngIf="i % 2 != 0"></div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
