<div class="navbar">
  <div class="modeToggle">
    <input type="checkbox" id="darkmode-toggle" (click)="toggleMode()"/>
    <label for="darkmode-toggle"></label>
  </div>
  <nav>
    <button (click)="navigate('About')" [classList]="_navPage == 'About' ? 'active' : ''">About</button>
    <button (click)="navigate('Research')" [classList]="_navPage == 'Research' ? 'active' : ''">Research</button>
    <button (click)="navigate('Projects')" [classList]="_navPage == 'Projects' ? 'active' : ''">Projects</button>
  </nav>
</div>

