<div class="navbar">
  <div class="modeToggle">
    <input type="checkbox" id="darkmode-toggle" (click)="toggleMode()"/>
    <label for="darkmode-toggle"></label>
  </div>
  <button (click)="toggleNav()" class="toggle-nav" [innerText]="mobileNavShow ? '>' : '<'"></button>
  <nav [classList]="mobileNavShow ? 'mobile-show' : 'mobile-hide'">
    <button (click)="navigate('About'); toggleNav()" [classList]="_navPage == 'About' ? 'active' : ''">About</button>
    <button (click)="navigate('Research'); toggleNav()" [classList]="_navPage == 'Research' ? 'active' : ''">Research</button>
    <button (click)="navigate('Projects'); toggleNav()" [classList]="_navPage == 'Projects' ? 'active' : ''">Projects</button>
  </nav>
</div>

