$image-path: '~src/assets/images/';

@media (max-width: 768px) {
  .modeToggle {
    width: 50% !important;
    max-width: 130px !important;
    overflow-x: hidden;

    label:after {
      top: 6.5px !important;
      width: 22.5% !important;
    }
  }

  .toggle-nav {
    display: block !important;
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
  }

  nav {
    overflow: hidden;
    width: auto !important;
    flex-direction: column !important;
    position: absolute !important;
    right: 10px;
    top: 36px;
    background-color: var(--primary);
    padding: 8px;
    margin: 14px -14px !important;
    border-bottom-left-radius: 12px;
    align-items: end !important;
    box-shadow: -1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);

    &.mobile-hide {
      right: -100%;
    }
    &.mobile-show {
      display: flex !important;
    }

    button {
      font-size: 1.5rem !important;
      text-align: right;
    }
  }
}

.navbar{
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1.95px 2.6px rgba(0, 0, 0, 0.15);

  .toggle-nav {
    display: none;
  }

  .modeToggle {
    width: 50%;
    max-width: 130px;
    overflow-x: hidden;
    position: relative;
    margin-left: 2.5%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;

    label {
      width: 50%;
      height: 100%;
      position: relative;
      display: block;
      background: #ebebeb;
      border-radius: 200px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      cursor: pointer;
    }
    label:after {
      content: "";
      width: 15%;
      height: 50%;
      position: absolute;
      top: 4.5px;
      left: 7.5px;
      background: linear-gradient(180deg,#ffcc89,#d8860b);
      border-radius: 180px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    input {
      width: 0;
      height: 0;
      visibility: hidden;
    }
    input:checked + label {
      background: #ebebeb;
    }
    input:checked + label:after {
      left: 90%;
      transform: translateX(-100%);
      background: linear-gradient(180deg,#777,#3a3a3a);
    }
    label, label:after {
      transition: 0.3s
    }
    label:active:after{
      width: 40%;
    }
  }

  nav {
    margin-right: 10%;
    z-index: 9;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5%;

    button {
      background: none;
      border: none;
      outline: none;
      font-size: 1rem;
      text-decoration: none;
      color: var(--text);
      cursor: pointer;

      &.active {
        text-shadow: 0 0 4px var(--text);
      }
    }
  }
}
