<app-nav></app-nav>

<div class="main">
  <router-outlet></router-outlet>
</div>

<footer>
  <section id="socials">
    <a href="https://www.linkedin.com/in/lucas-hartman-2a2b25171/" id="linkedin" target="_blank"></a>
    <a href="https://github.com/LucasHartmanWestern" id="github" target="_blank"></a>
    <a href="https://www.instagram.com/lucas_hartman2021/" id="instagram" target="_blank"></a>
  </section>
  <p>Feel free to reach out to me at <a href="mailto:lhartma8@uwo.ca">lhartma8@uwo.ca</a></p>
  <p>© 2023 Hartman</p>
</footer>
