<header>
  <h1>Lucas Hartman</h1>
  <span>Software Engineer - AI Researcher</span>
</header>

<section id="about">
  <p>I am an undergraduate student passionate about AI research. I am currently studying at Western University</p>
</section>

<section id="skills">
  <div class="skills-content">
    <div class="description">
      Through various projects, jobs, and my time at school, I have acquired a diverse skillset in programming including a number of languages and frameworks.
    </div>
    <div id="globe"></div>
  </div>

</section>

<section id="contact">
</section>
