$image-path: '~src/assets/images/';

h1 {
  color: var(--text);
  margin: 0;
}
h2 {
  color: var(--text);
}
span {
  color: var(--text);
  font-size: 0.8rem;
}
p {
  color: var(--text);
  font-size: 1.5rem;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

header {
  text-align: center;
}

.skills-content {
  @media (max-width: 768px) {
    flex-direction: column !important;
    gap: 50px;

    .description {
      width: 90% !important;
    }
    #globe::ng-deep {
      width: 80% !important;
    }
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .description {
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text);
  }

  #globe::ng-deep {
    width: 40%;
    aspect-ratio: 1;
    position: relative;
    color: var(--text);
  }
}
